body {
    font-family: 'Roboto', sans-serif;
}

.photo {
    border-radius: 50%;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16px;
    line-height: 32px;
}